<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
   <script src="/js/script.js" defer></script>
  </head>
  <body>
    <nav class="nav">
      <i class="bx bx-menu navOpenBtn"></i>
      <a href="#" class="logo">Peer2Peer</a>
      <ul class="nav-links">
        <i class="bx bx-chevron-left navCloseBtn"></i>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li><a href="#">Registrate</a></li>
        <li><a href="#">Iniciar Sesión</a></li>
      </ul>
      <i class="bx bx-search search-icon " id="searchIcon"></i>
      <div class="search-box">
        <i class="bx bx-search search-icon princi"></i>
        <input type="text" placeholder="Busca aquí..." />
      </div>
    </nav>


    <div class="container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur minima distinctio impedit velit porro libero dolorem deserunt neque tenetur animi soluta, et temporibus facere id voluptatum eveniet incidunt suscipit a rem, delectus qui voluptate dignissimos sit. Ad iure pariatur dolorum molestiae culpa reiciendis soluta rem! Quo voluptas error non adipisci eos deserunt! Reiciendis expedita ut odit commodi, perferendis nulla, pariatur animi quo, quidem numquam sequi sint voluptate consequatur illo facilis repellat doloremque adipisci! Enim ad natus mollitia, error dolor nesciunt, quia beatae iure facilis doloribus repellat facere velit. Nam iste cupiditate possimus enim dignissimos consequatur eaque fugiat et sint, soluta omnis aut aliquid dolorum nemo alias sit voluptatum? Iste, vel eaque. Possimus ex, iusto eos nulla aperiam consectetur. Sunt, velit!
      </p>
    </div>


    <footer>
      <div class="social-links">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
      </div>
      <p>&copy; 2024 Peer2Peer. Todos los derechos reservados.</p>
  </body>
</html>